@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(214, 212, 212);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    position: relative;
    min-width: 1200px;
    height: 550px;
    margin: 70px 250px;
    border-radius: 20px;
    overflow: hidden;
}
.leftSide{
    position: relative;
    float: left;
    width: 390px;
    height: 100%;
    background-color: rgb(46, 205, 111);
    text-align: center;
}
.rightSide{
    position: relative;
    float: left;
    min-width: 700px;
    height: 100%;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
}
#icon{
    position: absolute;
    top: 380px;
    left: 100px;
    color: white;
    background: none;
    font-size: 80px;
    z-index: 1;
}
#speech{
    position: absolute;
    background: none;
    top: 290px;
    left: 150px;
}
#watch{
    position: absolute;
    background: none;
    top: 317px;
    right: 65px;
    font-size: 25px;
    color: #768a78;
    font-family: 'Pixelify Sans', cursive;
}
.today{
    position: absolute;
    width: 160px;
    height: 40px;
    color: white;
    top: 20px;
    left: 80px;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px gray;
    overflow: hidden;
}
#refresh{
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 0;
    padding-top: 7px;
    width: 105px;
    height: 40px;
    background-color: #83afbb;;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.today:hover #refresh {
    background-color: #508ba4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.today:hover #refreshIcon{
    background-color: rgb(200, 129, 30);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#refreshIcon{
    position: absolute;
    top: 0;
    width: 65px;
    height: 40px;
    padding-top: 7px;
    padding-right: 10px;
    background-color: rgb(252, 158, 26);
    left: 105px;
    font-size: 25px;
    transition: background-color 0.3s ease;
}
#curDay{
    position: absolute;
    top: 80px;
    left: 160px;
    font-family: 'Lilita One', cursive;
    color: white;
    display: inline-block;
    font-size: 130px;
    background: none;
}
#curDayOfWeek{
    position: absolute;
    top: 230px;
    left: 115px;
    color: white;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    background: none;
}
table {
    position: absolute;
    border-collapse: collapse;
    font-size: 20px;
    width: 560px;
    height: 340px;
    margin-top: 160px;
    margin-left: 75px;
}
hr {
    border: 1px solid lightgray;
    position: absolute;
    top: 140px;
    left: 80px;
    width: 540px;
}
#monthList{
    position: absolute;
    list-style-type: none;
    background-color: white;
    padding-left: 0;
    padding-top: 10px;
    top: 100px;
    left: 75px;

}
#monthList li{
    background-color: white;
    display: inline-block;
    margin-right: 10px;
    margin-left: 6px;
    padding: 0px;
}
th,
td {
    width: 80px ;
    height: 30px;
    border: none;
    text-align: center;
}
th{
    font-weight: bold;
    color: rgb(186, 184, 184);
    background: white;
}
td{
    color: rgb(112, 110, 110);
    background-color: white;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
td:not(:empty):hover{
    color: white;
    cursor: pointer;
    background-color: rgb(46, 205, 111);
}
.calendarHeader{
    position: absolute;
    width: 700px;
    height: 80px;
}
.nav{
    position: absolute;
    overflow: hidden;
    width: 700px;
    height: 80px;
    padding-top: 20px;
    background-color: white;
    border-radius: 0px 10px 0px 0px;
}
button{
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: 20px;
}
.go-prev{
    position: absolute;
    width: 40px;
    right: 180px;
    font-size: 25px;
    color: rgb(186, 184, 184);
    background: none;
}
.nav>.curYear{
    font-family: 'Lilita One', cursive;
    background-color: white;
    position: absolute;
    color: rgb(186, 184, 184);
    width: 60px;
    top: 23px;
    right: 110px;
    font-size: 25px;
}
.go-next{
    position: absolute;
    width: 40px;
    right: 65px;
    font-size: 25px;
    color: rgb(186, 184, 184);
    background: none;
}
.go-prev:hover{
    background-color: rgb(162, 161, 161);
    color: white;
    cursor: pointer;
}
.go-today:hover{
    background-color: rgb(162, 161, 161);
    color: white;
    cursor: pointer;
}
.go-next:hover{
    background-color: rgb(162, 161, 161);
    color: white;
    cursor: pointer;
}